<div style="background-color: #f8f9fa; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #e9ecef; font-family: Arial, sans-serif;">
    
    <div>
        {% if user.is_authenticated %}
            <span style="font-size: 16px; color: #333;">👤 login user: <strong>{{ user.username }}</strong></span>
        {% else %}
            <span style="font-size: 16px; color: #666;">Not Logged In</span>
        {% endif %}
    </div>

    <div>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="margin: 0;">
                {% csrf_token %}
                <button type="submit" style="background-color: #dc3545; color: white; border: none; padding: 8px 15px; font-size: 14px; border-radius: 4px; cursor: pointer; font-weight: bold; transition: 0.3s;">
                    Logout 
                </button>
            </form>
        {% endif %}
    </div>
</div>
<h2>Search Student</h2>

<form method="GET">
    <input type="text" name="q" value="{{ query }}" placeholder="Enter name">
    <button type="submit">Search</button>
</form>

<br>

<a href="/" class="btn btn-secondary">View All Students</a>

<hr>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.course }}</td>
    </tr>
    {% endfor %}

    
</table>